@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Atlanta, GA 30017<br />
    Gwinnett County<br />
    <abbr title="Phone">P:</abbr>
    404-647-3160
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lmoore0621@gmail.com">lmoore0621@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://dochub.com/leonmoore1b12ddf3/NBoNxV/moore-leon-resume">Resume</a>
</address>