@{
    ViewBag.Title = "Home Page";
}

    <header class="titleBg">
        @*<div class="jumbotron">
            <h1 id="projTitle">Quiz Board</h1>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@
    </header>

        <div class="row">
            <div class="col-md-4">
                <h2>Create Quiz</h2>
                <p>
                   In this section you are able to create the quiz as long as you're signed in as an instructor.
                    You have full control of creating the questions as well as editing and deleting the created questions in your dashboard.
                </p>
                <p><a class="btn btn-danger" href="https://localhost:44360/Question">Create Quiz &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Take Quiz</h2>
                <p>Are you ready to take your test? Click here to begin taking your most recent quiz. You can only retake one time, so be prepared.</p>
                <p><a class="btn btn-success" href="https://localhost:44360/Home/takequiz">Take Quiz &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
